.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb61f3;
}
.App-link:clicked {
  color: #6b61fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkblue;
  color: rgb(61, 26, 156);
  box-shadow: 1px 1px 25px .5px black;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
li{
  list-style:none;
}
iframe{
  border-radius:30% 0%;
  border:5px solid white;
  width:70vw;
}
img{
  height:70px;
  width:70px;
}
img:hover{
  height:60px;
  width:60px;
  background-color: thistle;
}
button{
  width:100px;
  color:rgb(178, 236, 85);
  background-color: rgb(4, 92, 92);
  height:40px;
  box-shadow: 1px 1px 25px .5px rgb(75, 30, 30);
  font-family: inherit;
}
button:hover{
  background-color: violet;
  font-family:inherit;
  
}